@{
    ViewData["Title"] = "Home Page";
}
@model List<Producto>

        <!-- Header-->

<header>
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-dark">
                <img src="~/img/Logo.png" alt="logo" width="300">
            <p class="lead fw-normal text-dark-50 mb-0">¡Bienvenido, @ViewData["Username"]!</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            <!------------------------------------------------------------- Producto Normal ---------------------------------------------------------------------->
                @foreach (var producto in Model)
                {

                    @if(producto.en_descuento == false && producto.estado_id == 1)
                    {

                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            @if (!string.IsNullOrEmpty(producto.foto))
                            {
                                <img src="data:image;base64,@producto.foto" alt="Foto del Producto" style="max-width: 450px; max-height: 300px;" />
                            }
                            else
                            {
                                <span>No hay foto disponible</span>
                            }
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@producto.nombre_producto</h5>
                                    <!-- Product price-->
                                    $@producto.precio
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" href="@Url.Action("ProductoDetail", "Producto", new { id = producto.producto_id })">View Details</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!------------------------------------------------------------- Producto Normal ---------------------------------------------------------------------->

                }
                else if (producto.en_descuento == true && producto.estado_id == 1)
                {

                    <!------------------------------------------------------------- Producto descuento ---------------------------------------------------------------------->

                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            @if (!string.IsNullOrEmpty(producto.foto))
                            {
                                <img src="data:image;base64,@producto.foto" alt="Foto del Producto" style="max-width: 450px; max-height: 300px;" />
                            }
                            else
                            {
                                <span>No hay foto disponible</span>
                            }
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@producto.nombre_producto</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$@producto.precio </span>
                                    $@producto.precio_descuento
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Añadir al Carrito</a></div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" href="@Url.Action("ProductoDetail", "Producto", new { id = producto.producto_id })">Ver Detalles</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!------------------------------------------------------------- Producto descuento ---------------------------------------------------------------------->                  

                }

            }
    
                </div>
            </div>
        </section>

<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
    <div class="text-center">
        @if (Url != null)
        {
            <a class="btn btn-outline-dark mt-auto" href="@Url.Action("Index", "Pedido")">View Orders</a>
        }
    </div>
</div>
