@{
    ViewData["Title"] = "Home Page";
}
@model proyectoPrograAvanzadaGrupo1.Models.Producto


<body>
    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class=" col-md-6">
                    @if (!string.IsNullOrEmpty(Model.foto))
                    {
                        <img class="card-img-top mb-5 mb-md-0" src="data:image;base64,@Model.foto" style="max-width: 500px; max-height: 500px;" alt="Product Image" />
                    }
                    else
                    {
                        <span>No hay foto disponible</span>
                    }
                </div>
                <div class="col-md-6">
                    <div class="small mb-1">SKU: @Model.producto_id</div>
                    <h1 class="display-5 fw-bolder">@Model.nombre_producto</h1>
                    <p>Fecha de publicación: @Model.fecha_salida.ToShortDateString()</p>
                    <p>Disponibilidad en inventario: @Model.cantidad</p>
                    <div class="fs-5 mb-5">
                        @if (Model.en_descuento)
                        {
                            <p>Precio:</p>
                            <span class="text-decoration-line-through"> $@Model.precio</span>
                            <span>$@Model.precio_descuento</span>
                        }
                        else
                        {
                            <span>$@Model.precio</span>
                        }
                    </div>
                    <p class="lead">@Model.descripcion</p>
                    <div class="d-flex">
                        <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Video section -->
    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <!-- Div contenedor del video con clases para controlar el tamaño -->
                    <div class="embed-responsive embed-responsive-16by9 card-img-container">
                        <!-- Aquí se muestra el video -->
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/@Model.video_url" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- other products -->

    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">También te pueden gustar estos productos</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @foreach (var relatedProduct in ViewBag.RelatedProducts)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="data:image;base64,@relatedProduct.foto" alt="..." style="max-width: 350px; max-height: 300px;" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@relatedProduct.nombre_producto</h5>
                                    <!-- Product price-->
                                    @if (relatedProduct.en_descuento)
                                    {
                                        <span class="text-decoration-line-through">$@relatedProduct.precio</span>
                                        <span>$@relatedProduct.precio_descuento</span>
                                    }
                                    else
                                    {
                                        <span>$@relatedProduct.precio</span>
                                    }
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="@Url.Action("ProductoDetail", "Producto", new { id = relatedProduct.producto_id })">View Details</a></div>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>
